# Titanic

### Importando las librerias necesarias.

In [ ]:
import pandas as pd
import numpy as np
import sys; sys.path.insert(0, '../../')
from learntools.core import binder
from learntools.core.exceptions import ExceptionRaised
binder.bind(globals())
from learntools.exercises.Titanic import *
print('Setup complete.')

### Utilice el dataframe df de acuerdo con las instrucciones dadas.
No modifique el dataframe de manera directa.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv", index_col=0)

### 1. Agrupa los datos con base en la columna 'Age' y consulta la cantidad de pasajeros que hay según el valor de edad.
Almacena el resultado en la variable p1

Tipo de dato del resultado: 'Series'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p1 = _
    
    
    
    r1 = q1.check()
except Exception as e:
    print("Exception:", e)
    r1 = ExceptionRaised()

### 2. Agrupa los datos con base en la columna 'Pclass' y consulta la menor edad de cada categoría de pasajero.
Almacena el resultado en la variable p2

Tipo de dato del resultado: 'Series'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p2 = _
    
    
    
    r2 = q2.check()
except Exception as e:
    print("Exception:", e)
    r2 = ExceptionRaised()

### 3. Agrupa los datos con base en la columna 'Embarked' y consulta los valores de edad mínimos y máximos.
Almacena el resultado en la variable p3

Tipo de dato del resultado: 'DataFrame'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p3 = _
    
    
    
    r3 = q3.check()
except Exception as e:
    print("Exception:", e)
    r3 = ExceptionRaised()

### 4. Agrupando los datos con base en las columnas 'Pclass' y 'Sex', consulta las edades mínimas y máximas según el sexo y categoría de pasajero.
Almacena el resultado en la variable p4

Tipo de dato del resultado: 'DataFrame'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio
    
    p4 = _
    
    
    
    r4 = q4.check()
except Exception as e:
    print("Exception:", e)
    r4 = ExceptionRaised()

### 5. Ordena los datos del dataframe de acuerdo a la columna 'Age'.
Almacena el resultado en la variable p5

Tipo de dato del resultado: 'DataFrame'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p5 = _
    
    
    
    r5 = q5.check()
except Exception as e:
    print("Exception:", e)
    r5 = ExceptionRaised()

### 6. Ordena los datos del dataframe de acuerdo a las columnas 'Survived' y 'Pclass'.
Almacena el resultado en la variable p6

Tipo de dato del resultado: 'DataFrame'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p6 = _
    
    
    
    r6 =  q6.check()
except Exception as e:
    print("Exception:", e)
    r6 = ExceptionRaised()

### 7. Consulta el tipo de dato de la columna 'Name'.
Almacena el resultado en la variable p7

Tipo de dato del resultado: 'ObjectDType'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p7 = _
    
    
    
    r7 = q7.check()
except Exception as e:
    print("Exception:", e)
    r7 = ExceptionRaised()

### 8. Consulta el tipo de dato de cada columna.
Almacena el resultado en la variable p8

Tipo de dato del resultado: 'Series'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p8 = _
    
    
    
    r8 = q8.check()
except Exception as e:
    print("Exception:", e)
    r8 = ExceptionRaised()

### 9. Consulte todas las filas que contengan un valor faltante ('NaN') en la columna 'Cabin'
Almacena el resultado en la variable p9

Tipo de dato del resultado: 'DataFrame'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p9 = _
    
    
    
    r9 = q9.check()
except Exception as e:
    print("Exception:", e)
    r9 = ExceptionRaised()

### 10. Cambie el nombre de la columna 'Pclass' a 'PassengerClass'
Almacena el resultado en la variable p10

Tipo de dato del resultado: 'DataFrame'

In [ ]:
try:
    # Escriba aquí el código necesario para resolver el ejercicio

    p10 = _
    
    
    
    r10 = q10.check()
except Exception as e:
    print("Exception:", e)
    r10 = ExceptionRaised()

In [ ]:
__all__ = [r1, r2, r3, r4, r5, r6, r7, r8, r9, r10]